# OneMap geocoding
ONEMAP_API_KEY=

# data.gov.sg carpark availability
DATA_GOV_API_KEY=

# HDB carpark dataset
DATASET_ID=

# AWS credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-1

# AWS Cognito
USER_POOL_ID=
APP_CLIENT_ID=
APP_CLIENT_SECRET=
